<p>detail-product works!</p>
<button routerLink='/products'>All Products</button>

<h1 align="center">Update Product</h1>
<div class="col-md-4 m-5 pb-5">
  <form [formGroup]="createProductForm" (ngSubmit)="updateProduct()">
    <div class="form-group">
      <label>Product Name : </label>
      <input type="text" class="form-control" formControlName="name" placeholder="Enter product name">
      <span class="warning" *ngIf="createProductForm.controls['name'].errors?.required">
        *Product name is required </span>
    </div>
    <div class="form-group">
      <label>Product mrp : </label>
      <input type="number" class="form-control" formControlName="mrp" placeholder="Enter product mrp">
    </div>

    <div class="form-group">
      <label>Product mfg : </label>
      <input type="text" class="form-control" formControlName="mfg" placeholder="Enter product mfg">
    </div>

    <div class="form-group">
      <label>Product expire date  : </label>
      <input type="number" class="form-control" formControlName="expire" placeholder="Enter product expire">
      <span class="warning" *ngIf="createProductForm.controls['expire'].errors?.max || createProductForm.controls['expire'].errors?.min || createProductForm.controls['expire'].errors?.patters ">
        *Invalid  </span>
    </div>

    <div class="form-group">
      <label>Product batch: </label>
      <input type="text" class="form-control" formControlName="batch" placeholder="Enter product batch">
      <span class="warning" *ngIf="createProductForm.controls['batch'].errors?.batch">
        *Please enter a valid batch</span>
    </div>
    <button type="reset" class="btn btn-warning mr-1">Reset</button>
    <button type="submit" [disabled]="!createProductForm.valid" class="btn btn-primary">Update Customer</button>
  </form>
</div>
